.dateUserContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;

    span {
      margin-left: 14px;
    }
  }

  p + p {
    margin-left: 32px;
  }
}

.editedDate {
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #bbbbbb;
  margin-top: 18px;
}

.previewModeButton {
  background: #f8f8f8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px auto;
  width: 700px;
  height: 58px;

  a {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #1a1d23;
    text-decoration: none;
  }
}
